<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="111" value="222" />
    <add key ="repositoryPath" value="..\..\raman.zinevich"/>
    <add key ="metaFilePath" value="..\..\raman.zinevich\meta.dat"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>